 
.main {
    flex: 1 1 0;
    display: flex;
}
.container-fluid {
  display: flex;
}
.col-9 {
  overflow-y: auto;
  height: 90vh; /* NEW */
}
.nav {
    background-color: black;
}
.badge{
    font-size: 24px;
    background-color: rgb(5, 5, 95);
}
.collapse ul li a{
    color: white;
    font-size: 24px;
    justify-content: space-between;
}
.nav-item {
    margin-left: 30px;
}
