 
.main {
    display: flex;
}
.container-fluid {
  display: flex;
}
.col-9 {
  overflow-y: auto;
  height: 90vh; /* NEW */
}
.nav {
    background-color: black;
}
.navbar h3{
    font-size: 24px;
}
.collapse ul li a{
    /* color: white; */
    font-size: 24px;
    justify-content: space-between;
}
.nav-item {
    margin-left: 30px;
}
#navbarText {
    float: right;
}
